
  <!--***************************************header navigation bar*******************-->
<div class="header">
  <ul>
      <li><a href="welcome">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
      <p><a href="login"><i class="bi bi-person-circle"></i>Login</a></p>
           
   </ul>
  
</div>
  <section id="team" class="team_area pt-120 pb-130">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <div class="section_title text-center pb-25">
    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Meet The Team</h4>
    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s"></p>
    </div> 
    </div>
    </div> 
    <div class="row justify-content-center team_active">
    <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
    <img src="assets/images/team-1.jpg" alt="team">
    <div class="team_content">
    <h4 class="team_name"><a href="#">Jassa.</a></h4>
    <p>Head Of Ideas</p>
    <ul class="social">
    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
    </ul>
    </div>
    </div> 
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
    <img src="assets/images/team-2.jpg" alt="team">
    <div class="team_content">
    <h4 class="team_name"><a href="#">Nancy L.</a></h4>
    <p>UX Designer</p>
    <ul class="social">
    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
    </ul>
    </div>
    </div> 
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
    <img src="assets/images/team-3.jpg" alt="team">
    <div class="team_content">
    <h4 class="team_name"><a href="#">Michael P.</a></h4>
    <p>Creative Designer</p>
    <ul class="social">
    <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
    </ul>
    </div>
    </div> 
    </div>
    </div> 
    </div> 
    </section>
    
    
    <section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover" style="background-image: url(assets/images/testimonial.jpg)">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-lg-8">
    <div class="glide testimonial_active">
    <div class="glide__track" data-glide-el="track">
    <div class="glide__slides">
    <div class="glide__slide single_testimonial text-center">
    <img src="assets/images/author-1.jpg" alt="author">
    <h5 class="author_name">Linda</h5>
    <span>UX Specialist, Yoast</span>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
    </p>
    </div>
     <div class="glide__slide single_testimonial text-center">
    <img src="assets/images/author-2.jpg" alt="author">
    <h5 class="author_name">Nancy</h5>
    <span>Sr. Software Engineer</span>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
    </p>
    </div>
    <div class="glide__slide single_testimonial text-center">
    <img src="assets/images/author-3.jpg" alt="author">
    <h5 class="author_name">Elon Musk</h5>
    <span>Creaitve Businessman</span>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
    </p>
    </div>
    </div>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0"></button>
    <button class="glide__bullet" data-glide-dir="=1"></button>
    <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
    </div>
    </div>
    </div> 
    </div> 
    </section>
    <section id="contact" class="contact_area bg_cover pt-120 pb-130" style="background-image: url(assets/images/contact_bg.jpg)">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-6">
        <div class="section_title section_title_2 text-center pb-25">
        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Contact Us</h4>
        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Please send your queries here.</p>
        </div> 
        </div>
        </div> 
        <form [formGroup]="complaintForm" action="assets/contact.php" method="post" class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s"(ngSubmit)="submit()">
        <div class="row">
        <div class="col-lg-6">
        <div class="single_form">
        <input type="text" placeholder="Name" name="name" id="name" required formControlName="fullName">
        </div> 
        </div>
        <div class="col-lg-6">
        <div class="single_form">
        <input type="email" placeholder="Email" name="email" id="email" required formControlName="emailId">  
        </div> 
        </div>
        <div class="col-lg-6">
        <div class="single_form">
        <input type="text" placeholder="Phone Number" name="number" id="number" required formControlName="mobileNo">
        </div> 
        </div>
        <div class="col-lg-6">
        <div class="single_form">
        <input type="text" placeholder="Subject" name="subject" id="subject" required formControlName="subject">
        </div> 
        </div>
        <div class="col-lg-12">
        <div class="single_form">
        <textarea placeholder="Message" name="message" id="message" required formControlName="message"></textarea>
        </div> 
        </div>
        <p class="form-message"></p>
        <div class="col-lg-12">
        <div class="single_form text-center">
        <button class="main-btn" type="submit">SUBMIT</button>
        </div> 
        </div>
        </div> 
        </form>
        </div> 
        </section>
      