<app-header></app-header>
<!--********************   FIRST CONTAINER *****************-->
<section class="prepaid-main">
    <div class="container">
      <div class="row">
    <div class="col-lg-6" style="padding-left:7%;padding-top: 8%;">
      <div class="newsim-flex">
        <div class="left">
          <h2><span class="heading" style="font-family:300;font-size: 60px;">Get A VOIZFONICA Sim Delivered For free</span></h2>
          <a style="margin-left: 10%;" href="/prepaid" class="btn btn-light">View Plans</a> 
        </div>
    </div>
</div>
<div class="col-lg-6">
<img src="../../assets/images/bgimage1.jpg" alt="" width="90%" height="90%" style="border-radius:80%;">
</div>  
</div>
</div>
</section>
                 <!--***************SECOND CONTAINER*******************-->
<section class="prepaid-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../assets/images/bgImage2.jpeg" alt="" width="90%" height="90%" style="border-top-right-radius: 25%; border-bottom-right-radius: 25% ;">
        </div> 
  <div class="col-lg-6" style="padding-left:10%;padding-top: 1%;">
    <div class="newsim-flex">
      <div class="left">
        <h2><span class="heading" style="font-family:300;font-size: 60px;">Ensuring Digital Life For Every Indian</span><br>
          <a style="margin-left: 10%;" href="/prepaid" class="btn btn-light">View Plans</a></h2> 
      </div>
  </div>
</div>
</div>
</div>
</section>

                          <!--********************THIRD CONTAINER****************-->
<section class="prepaid-main">
  <div class="container">
    <div class="row">
  <div class="col-lg-6" style="padding-left:7%;padding-top: 1%;">
    <div class="newsim-flex">
      <div class="left">
        <h2><span class="heading" style="font-family:300;font-size: 60px;">India's fastest 4G The best is getting better </span></h2> 
        <a style="margin-left: 10%;" href="/dongle" class="btn btn-light">View Plans</a>
      </div>
  </div>
</div>
<div class="col-lg-6">
<img src="../../assets/images/bgimage5.jpg" alt="" width="90%" height="80%" style="border-bottom-left-radius: 20%;">
</div>  
</div>
</div>
</section>
                       <!---*************************FOURTH CONTAINER********************-->
<section class="prepaid-main">
  <div class="container1">
    <div class="row">
      <div class="col-lg-4" style="padding-left:8%;padding-top: 1%;">
      <div class="newsim-flex">
        <div class="left">
          <a class="prepaid" href="prepaid"><i class="bi bi-sim"></i></a>
          
          <h4><span class="heading" style="text-decoration:underline;">PREPAID</span></h4>
          <br>
          <h5></h5>
        </div>
      </div>
      </div>
        <div class="col-lg-4" style="padding-left:8%;padding-top: 1%;">
          <div class="newsim-flex">
            <div class="middle">
              <a class="postpaid" href="postpaid"><i class="bi bi-sim"></i></a>
              <h4><span class="heading" style="text-decoration:underline; margin-left: -3%;" >POSTPAID</span></h4>
              <br>
              <h5></h5>
            </div>
          </div>
        </div>
            <div class="col-lg-4" style="padding-left:8%;padding-top: 1%;">
              <div class="newsim-flex">
                <div class="right">
                   <a class="doongle" href="dongle"><i class="bi bi-modem"></i></a>
                  <h4><span class="heading" style="text-decoration:underline;margin-left: -3%;">DONGLE</span></h4>
                  <br>
                  <h5></h5>
                </div>
                </div>
                </div>       
    </div>
  </div>
